# Python cache en compiled files
__pycache__/
*.py[cod]

# Virtuele omgeving
.venv/
.env

# Instellingen bestand (gevoelige data)
config/settings.py

# Database bestanden
data/*.db

# Lege en voorbeeld db uitgezonderd
!data/boekencollectie_leeg.db  
!data/boekencollectie_voorbeeld.db